
.snip1472 {
    position: relative;
    font-size: 25px;
    color: #e6e6e6;
    width: 45px;
    margin: 0px 4px;
    height: 45px;
    line-height: 45px;
    display: initial;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1472:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.snip1472:before {
    color: #fff;
}

.snip1472:before,
.snip1472:after {
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.snip1472:hover,
.snip1472:active,
.snip1472.hover {
    color: #c0392b;
}

.snip1472:hover:after,
.snip1472:active:after,
.snip1472.hover:after {
    border-color: #c0392b transparent #c0392b transparent;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
@media only screen and (max-width: 768px) {
.snip1472{
    font-size: 15px;
    margin: 0px 5px;
}

}