.container {
    margin-top: 20px;
  }
  
  h2 {
    color: #fff;
  }
  
  .title {
    font-weight: bold;
    font-size: 20px;
    color: #db3a34;
  }
  
  .bar {
    width: 90%;
    height: 25px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
  }
  
  .bar-1{
    width: 80%;
    margin: 10px auto 25px;
  }
  
  .bar-inner {
    width: 0;
    height: 25px;
    line-height: 35px;
    background: #db3a34;
    border-radius: 5px 0 0 5px;
  }
  
  .bar-percent {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
  }